body {
    width: 1170px;
}

p, a {
    font-size: 14px;
}
input {
    font-size: 12px;
    width: 150px;
}
.logo {
    width: 150px;
}

h1 {
    color:#f00;

}
.header_P {
    height: 70px;
    width: 90px;
    background: #00f;
    color: #fff;
    margin-bottom: 100px;
}
span {
    color:#f00;
}
h2 {
    padding: 5px;
    background: #207020;
    color: #fff;
}
.title_H {
    padding: 40px;
}
.title_P {
    padding-left: 100px;
}
ul{
    margin: 25px 0;
}
ul>li {
    border: 2px solid;
    font-size: 28px;
    line-height: 28px;
}